/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT [Идентификатор записи]
      ,[Идентификатор подключенного аккаунта]
      ,[Идентификатор отчета]
      ,[Дата отчета]
      ,[Дата и время начала события]
      ,[Домен реферера]
      ,[Название кампании]
      ,[Теги]
      ,[Уникальный идентификатор]
      ,[Номер контакта]
      ,[Идентификатор рекламной кампании]
      ,[Идентификатор персоны]
      ,[Канал кампании]
      ,[Ключевое слово кампании]
      ,[Содержание кампании]
      ,[Идентификатор посетителя]
      ,[Источник кампании]
      ,[Название рекламной кампании]
      ,[OpenStat рекламная кампания]
      ,[Идентификатор сессии посетителя]
  FROM [dbo].[CM РГ - Comagic ( от 21.03.2019) - Звонки] as M
  INNER JOIN 
  (SELECT*
   FROM (
	 SELECT
        DISTINCT(Json_VALUE([Содержимое строки],'$."\u041d\u043e\u043c\u0435\u0440 \u0437\u0432\u043e\u043d\u0438\u0432\u0448\u0435\u0433\u043e"')) AS Telefon
     FROM [dbo].[GS Выгруженные таблицы]
     WHERE [Идентификатор подключенного аккаунта] = 5085 ) AS NewTable --OR [Идентификатор подключенного аккаунта] = 5086)
   WHERE Telefon IS NOT NULL AND Telefon <> ''
  ) as T
ON M.[Номер контакта] = T.[Telefon]